/*
CSS exo grid
*/

:root{
    font-family: monospace;
    background-color: black;
    --font-color: rgb(8, 168, 8);
    --links-color: white;
    color: var(--font-color);
    font-size: 1.1rem;
}

a, a:visited{
    color: var(--links-color);
    font-weight: bold;
    text-decoration: none;
    &:hover{
        background-color: var(--links-color);
        color: var(--font-color);
    }
}


.grid-wrapper, .grid-wrapper-header, .grid-wrapper-footer{
    display: grid; 
    grid-template-columns: 100%; 
    padding: 1rem; 
    grid-auto-rows:auto; 
    gap: 0.9rem; 
}

.grid-div{
    border: 3px solid var(--bg-nav-principale);
    background-color: rgba(9, 81, 15, 0.5);
    padding: 1rem;
    vertical-align: bottom;
}

.animated-dot{
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter{
    0%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width: 576px){
    .grid-wrapper{
        /*grid-template-columns: repeat( 3, calc( calc( 100% - 2.1rem ) / 3 )  );*/
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid-wrapper-header{
        /* grid-template-columns: repeat( 2, calc( calc( 100% - 0.9rem ) / 2 )  ); */
        grid-template-columns: 1fr 1fr;

    }
}

@media (min-width: 768px){
    

    .deux{
        /*grid-column: 2 / 4;*/
        grid-column: span 2;
    }

    .quatre{
        /*
        grid-column: 1 / 3;
        grid-row: 3 / 5;
        */
        grid-column: span 2;
        grid-row: span 2;
    }

    .trois{
        grid-column: 1 / 4;
    }

    .huit{
        grid-column: span 2;
    }

    .neuf{
        grid-row:span 2;
    }

    .dix_huit{
        grid-column: span 2;
    }
}

@media (min-width: 1200px){
    .grid-wrapper{
        /* grid-template-columns: repeat( 4, calc( calc( 100% - 2.7rem ) / 4 )  ); */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
    }

    .un{
        grid-column: span 2;
    }

    .deux{
        grid-column: span 2;
    }

    .trois{
        grid-column: span 2;
    }

    .quatre{
        grid-column: span 2;
        grid-row: span 2;
    }

    .huit{
        grid-column: span 2;
        grid-row: span 2;
    }

    .neuf{
        grid-row: span 2;
    }

    .seize{
        grid-column: span 2;
    }

    .dix_huit{
        grid-column: span 4;
    }

}