/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height
*/

/*

sélecteur CSS :
    ATTENTION : en CSS, on impacte tous les éléments correspondants aux sélecteurs écrit
    
    sélecteurs simples : balise, identifiant et par classe
        p                   => tous les éléments p rencontrés dans le document
                            pas de caractère spécial devant l'élément donc il s'agit d'une balise
        #special            => l'élément ayant comme attribut id="special"
                            le caractère # indique qu'on se réfère à l'id
                            => les id sont uniques dans la page
        .titreDeChapitre    => les éléments ayant au moins la class="titreDeChapitre" 
                            le caractère . indique qu'on se réfère à une classe
                            => ATTENTION : si un élément class="titreDeChapitre toto tata" comme il possède au moins
                            la classe titreDeChapitre alors il sera trouvé
    Sélecteur avancés : selon les attributs                                  
        [data-test]                     => les éléments ayant au moins un attribut nommé data-test
        [alt]                           => les éléments ayant au moins un attribut alt
        [data-test="toto"]              => les éléments ayant au moins un attribut nommé data-test="toto"
        [data-col][data-line]           => les éléments ayant au moins un attribut data-col ET un attribut data-line
        [data-col="3"][data-line]       => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line
        [data-col][data-line="2"]       => les éléments ayant au moins un attribut data-col ET un attribut data-line="2"
        [data-col="3"][data-line="2"]   => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line="2"

    Sélecteur avancés : mélange des sélecteurs simples et ou de sélecteurs avancés
        h3.titreDeChapitre  => tous les titre h3 ayant la classe titreDeChapitre
                            si l'élément et la classe sont collés, c'est que l'élément doit avoir au moins cette classe
        article #special    => un élément avec id="special" enfant direct OU indirect d'un élément article
                            si l'élément et l'id recherché sont séparés, cela indique une filiation directe ou indirecte
        main > p            => tous les éléments p enfants directs d'un élément main
                            le chevron fermant > entre les deux éléments indique une filiation directe.
        p#special           => un élément p avec id="special"
        .toto.tata          => un élément ayant au moins les deux classes suivantes toto et tata
        .toto .tata         => un élément ayant au moins la classe tata enfant direct ou indirect d'un élément ayant au moins la classe toto
    
    Pseudo sélecteurs (sélécteur qui permet des "tri" ou des "filtres" sur des sélecteurs )
        p:nth-of-type(odd)  => tous les paragraphes du document en position impaire
                            nth-child() le(s) nième(s) enfant(s)
                            les paramètres : 
                                odd => impaire - event => paire, Xn => tous les X enfants , Y => le Yème
                                Xn + Y, si X == 2 et Y == 1 ==> 2n+1

        article:last-child:nth-of-type(4n+3)    => l'article doit être le dernier article et le troisième article d'une ligne de 4
                                                paramètres :    4n => le nombre d'élément par ligne
                                                                +3 => le troisième de la ligne

*/

/* il est possible d'importer des fichiers CSS sans une autre fichier CSS, cependant, il est obligatoire de faire ces imports en tout premier */

@import url('./bootstrap-icons.css');
@import url('./Alice_in_Wonderland_3.css');
@import url('./roboto.css');

/* les déclarations dans le :root */
:root{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
    /* 
    il est possible en CSS de déclarer des variables, qui peuvent contenir :  
    - des couleurs CSS
    - des tailles en px, rem, vh, etc
    */

    --site-bg-color: #ffffff;
    --site-color: #333333;
    --site-links: #DE3400;
    --site-third-color: #E08C07;
    --site-third-color-75: rgba(224, 141, 7, 0.75);
    --site-third-color-50: rgba(224, 141, 7, 0.5);
    --site-third-color-25: rgba(224, 141, 7, 0.25);
    --site-links-alt: var(--site-color);
    --midtone-grey: #625D73;
    --site-header-bg: var(--site-color);
    --site-header-color: var(--site-bg-color);
    --site-nav-bg-color: var(--site-color);
    --site-nav-color: var(--site-bg-color);
}

/* déclarations générales */

*, *::before, *::after{
    box-sizing: border-box;
}

h1, 
h2, 
h3, h4, h5, h6{
    margin: 0;
}

ul, ol, dd{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre{
    text-wrap: wrap;
}

a, 
a:visited{
    text-decoration: none;
    color: var(--site-links);
}

a:hover, 
a:focus{
    color: var(--site-links-alt);
}

/*article, aside*/
body > main > section > *{
    padding: 1rem 0.5rem;
    /* padding: 1rem 0.5rem 1rem 0.5rem; */
    /*
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    */
}

table{
    border-collapse: collapse;
}

table td, 
table th{
    border: 1px solid var(--site-color);
    padding: 0.5rem;
}

form fieldset{
    border: 1px solid var(--site-color);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

form legend{
    line-height: 2rem;
    border: 1px solid var(--site-color);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 2px 3px var(--site-color);
}

form input[type="text"],
form input[type="email"],
form select{
    height: 1.7rem;
    border: 1px solid var(--site-color);
    border-radius: 3px;
    font-size: 1rem;
    padding-left: 0.5rem;
    width: 100%;
}

form button[type="submit"], form button[type="reset"]{
    border: 1px solid var(--site-color);
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

form button[type="submit"]{
    color: var(--site-bg-color);
    background-color: var(--site-links);
    &:hover, &:focus{
        color: var(--site-links);
        background-color: var(--site-bg-color);
    }
}

form button[type="reset"]{
    color: var(--site-color);
    background-color: var(--site-third-color);
    &:hover, &:focus{
        color: var(--site-third-color);
        background-color: var(--site-color);
    }
}

form p.form-action{
    text-align: center;
}

.form-check-radio input[type="checkbox"],
.form-check-radio input[type="radio"]
{
    width: 20%;
}

.form-check-radio label{
    height: 1rem;
}

/* 
pour rendre une image à l'affichage fluide, c'est à dire que sa taille ne dépasse pas l'affichage à l'écran 
Il faut jouer sur l'affichage maximal de, par exemple, sa largeur
*/

img, video{
    max-width: 100%;
}

/* déclarations des classes */

.rouge-gras{
    color: #9c0000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.ex-before::before{
    font-family: 'bootstrap-icons';
    content: '\f430';
}

.ex-before::after{
    font-family: 'bootstrap-icons';
    content: '\f430';
}

.site-title{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Alice_in_Wonderland_3';
    letter-spacing: 2px;
}

.content-width,
.border-width{
    width: 200px;
    padding: 10px;
    border: 1px solid var(--site-header-bg);
    margin: 0.5rem;
}

.content-width{
    box-sizing: content-box;
}

.deux-em{
    font-size: 2em;
    margin: 1rem;
}

.deux-rem{
    font-size: 2rem;
    margin: 1rem;
}

.balise{
    font-family: monospace;
}

.balise::before{
    content: "<";
}
.balise::after{
    content: ">";
}

.table-display{
    width: 100%;
    overflow-x: auto;
}

.t-dbl tbody tr:nth-of-type(odd){
    background-color: var(--site-third-color-25);
}

.t-dbl tbody td:nth-of-type(even){
    background-color: var(--site-third-color-25);
}

.t-dbl th{
    background-color: var(--site-color);
    color: var(--site-bg-color);
    text-wrap: nowrap;
}

.t-dbl th:first-child{
    text-align: left;
}

.t-dbl td{
    text-align: right;
    text-wrap:nowrap;
}

.info-form::before{
    font-family: 'bootstrap-icons';
    content: '\f430';
}

.left{
    float: left;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.right{
    float: right;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.lecteur-audio{
    text-align: center;
}

.lecteur-audio > *{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* quelques classes pour le RWD du contenu embarqué (exemple les iframes de streaming) */

.ratio{
    position: relative;
    margin: 0;
    width: 100%;
    height: 0;
}

.ratio > *{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ratio-4x3{
    padding-bottom: calc(3 / 4 * 100%);
}

.ratio-16x9{
    padding-bottom: calc(9 / 16 * 100%);
}

.ratio-21x9{
    padding-bottom: calc(9 / 21 * 100%);
}

.ratio-a4-portrait{
    padding-bottom: calc(29.7 / 21 * 100%);
}

.ratio-a4-paysage{
    padding-bottom: calc(21 / 29.7 * 100%);
}


/* déclarations de structure */

body{
    margin: 0;
    background-color: var(--site-bg-color);
}

body > header{
    background-color: var(--site-header-bg);
    color: var(--site-header-color);
    padding: 1rem;
    text-align: center;
}

body > nav{
    background-color: var(--site-nav-bg-color);
    color: var(--site-nav-color);
    line-height: 2rem;
}

body > nav li:not(body > nav li:last-child){
/* 
tous les éléments li contenu dans la liste de la navigation principale vont avoir 
une bordure en bas sauf le dernier élément li de la liste de la navigation principale
*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

body > nav a,
body > nav a:visited{
    color: inherit;
    padding: 0 0.5rem;
    display: block;
    &:hover, &:focus{
        background-color: var(--site-nav-color);
        color: var(--site-nav-bg-color);
    }
}

body > nav > ul,
body > main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* &:hover, &:focus remplace la déclaration suivante : */
/*
body > nav a:hover,
body > nav a:focus{
    background-color: var(--site-nav-color);
    color: var(--site-nav-bg-color);
}
*/

article h1{
    font-size: 1.5rem;
}

article footer,
.clear{
    clear: both;
}

/*
Les media queries : il est possilble de surcharger des déclaration CSS existantes selon des conditions d'affichage (écran, impression, portrait, paysage, etc) en utilisant @media
*/

/*
Pour faire de l'adaptatif smartphone first, on a créer entre 95 et 98% du CSS pour afficher le site correctement sur un smartphone,
avec les media queries, on va définir des points de rupture (breakpoint) qui seront utilisés pour créer des espace CSS de surcharge 
selon les paramètre des media queries
*/
/*
@media print {
  ... permet de laisser le css en media="all" et de ne créer que les règle pour l'inpression, en revanche, si des polices, des placement, etc doivent être réécris, tout sera à cet endroi => taille du fichier difficile a maintenir et à lire  
}
*/

@media screen and (min-width:576px) {
    body > nav > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > nav li:not(body > nav li:last-child){
        border-bottom: unset;
    }

    body > nav > ul,
    body > main{
        width: 540px;
    }
}

@media screen and (min-width:768px) {
    body > nav > ul,
    body > main{
        width: 720px;
    }
}

@media screen and (min-width:992px) {
    body > nav > ul,
    body > main{
        width: 960px;
    }

    body > main > section{
        display: flex;
        flex-wrap: wrap;
    }

    body > main > section > *{
        width: 50%;
    }

    body > main > section > *:nth-child(2n + 1):last-child{
        width: 100%;
    }


}

@media screen and (min-width:1200px) {
    body > nav > ul,
    body > main{
        width: 1140px;
    }

    body > main > section > *,
    body > main > section > *:nth-child(2n + 1):last-child
    {
        width: 33%;
    }

    body > main > section > *:nth-child(3n + 1):last-child{
        width: 100%;
    }
    
    body > main > section > *:nth-child(3n + 2):last-child{
        width: 66%;
    }

}

@media screen and (min-width:1400px) {
    body > nav > ul,
    body > main{
        width: 1320px;
    }
}

@media screen and (min-width:1600px) {
    body > nav > ul,
    body > main{
        width: 1560px;
    }

    body > main > section > *,
    body > main > section > *:nth-child(3n + 1):last-child,
    body > main > section > *:nth-child(3n + 2):last-child{
        width: 25%;
    }

    body > main > section > *:nth-child(4n + 1):last-child{
        width: 100%;
    }
    
    body > main > section > *:nth-child(4n + 2):last-child{
        width: 75%;
    }
    
    body > main > section > *:nth-child(4n + 3):last-child{
        width: 50%;
    }
}