/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height

*/

/* il est possible d'importer des fichiers CSS sans une autre fichier CSS, cependant, il est obligatoire de faire ces imports en tout premier */

@import url('./bootstrap-icons.css');

/* les déclarations dans le :root */
:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
    /* 
    il est possible en CSS de déclarer des variables, qui peuvent contenir :  
    - des couleurs CSS
    - des tailles en px, rem, vh, etc
    */

    --site-bg-color: #ffffff;
    --site-color: #333333;
    --site-links: #DE3400;
    --site-third-color: #E08C07;
    --site-third-color-75: rgba(224, 141, 7, 0.75);
    --site-third-color-50: rgba(224, 141, 7, 0.5);
    --site-third-color-25: rgba(224, 141, 7, 0.25);
    --site-links-alt: var(--site-color);
    --midtone-grey: #625D73;
    --site-header-bg: var(--site-color);
    --site-header-color: var(--site-bg-color);
    --site-nav-bg-color: var(--site-color);
    --site-nav-color: var(--site-bg-color);
}

/* déclarations générales */

*, *::before, *::after{
    box-sizing: border-box;
}

h1, 
h2, 
h3, h4, h5, h6{
    margin: 0;
}

ul, ol, dd{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre{
    text-wrap: wrap;
}

a, 
a:visited{
    text-decoration: none;
    color: var(--site-links);
}

a:hover, 
a:focus{
    color: var(--site-links-alt);
}

article, aside{
    padding: 1rem 0.5rem;
    /* padding: 1rem 0.5rem 1rem 0.5rem; */
    /*
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    */
}

table{
    border-collapse: collapse;
}

table td, 
table th{
    border: 1px solid var(--site-color);
    padding: 0.5rem;
}

/* déclarations des classes */

.rouge-gras{
    color: #9c0000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.ex-before::before{
    font-family: 'bootstrap-icons';
    content: '\f430';
}

.ex-before::after{
    font-family: 'bootstrap-icons';
    content: '\f430';
}

.site-title{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.content-width,
.border-width{
    width: 200px;
    padding: 10px;
    border: 1px solid var(--site-header-bg);
    margin: 0.5rem;
}

.content-width{
    box-sizing: content-box;
}

.deux-em{
    font-size: 2em;
    margin: 1rem;
}

.deux-rem{
    font-size: 2rem;
    margin: 1rem;
}

.balise{
    font-family: monospace;
}

.balise::before{
    content: "<";
}
.balise::after{
    content: ">";
}

.table-display{
    width: 100%;
    overflow-x: auto;
}

.t-dbl tbody tr:nth-of-type(odd){
    background-color: var(--site-third-color-25);
}

.t-dbl tbody td:nth-of-type(even){
    background-color: var(--site-third-color-25);
}

.t-dbl th{
    background-color: var(--site-color);
    color: var(--site-bg-color);
    text-wrap: nowrap;
}

.t-dbl th:first-child{
    text-align: left;
}

.t-dbl td{
    text-align: right;
    text-wrap:nowrap;
}

/* déclarations de structure */

body{
    margin: 0;
    background-color: var(--site-bg-color);
}

body > header{
    background-color: var(--site-header-bg);
    color: var(--site-header-color);
}

body > nav{
    background-color: var(--site-nav-bg-color);
    color: var(--site-nav-color);
    line-height: 2rem;
}

body > nav li:not(body > nav li:last-child){
/* 
tous les éléments li contenu dans la liste de la navigation principale vont avoir 
une bordure en bas sauf le dernier élément li de la liste de la navigation principale
*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

body > nav a,
body > nav a:visited{
    color: inherit;
    padding: 0 0.5rem;
    display: block;
    &:hover, &:focus{
        background-color: var(--site-nav-color);
        color: var(--site-nav-bg-color);
    }
}

/* &:hover, &:focus remplace la déclaration suivante : */
/*
body > nav a:hover,
body > nav a:focus{
    background-color: var(--site-nav-color);
    color: var(--site-nav-bg-color);
}
*/

article h1{
    font-size: 1.5rem;
}